extends _layout/layout

block variables
	- var title = 'Grand Nest'
	- var bodyclass = 'aboutpage'

block css

block body
	include _layout/header
	main
		include _layout/breadcrumb
		include _layout/ct-lienhe
	include _layout/footer