section.about-banner.clearfix
	.banner-img
		img(src="img/about/bn1.jpg", alt="")
	.container
		.caption
			.title GrandNest
			.des Cuộc sống hoàn hảo
section.about-intro.clearfix(style="background: url(img/about/bg1.jpg) center bottom no-repeat;background-size: cover")
	.container
		h1.pagetitle Chủ đầu tư
		.companylogo.text-xs-center
			img(src="img/about/kvlogo.png", alt="")
		.pagedes.text-xs-center Được thành lập từ năm 1995 tại thành phố Quy Nhơn, tỉnh Bình Định, đến nay, Tập đoàn Khải Vy phát triển vững mạnh trong các lĩnh vực:
		.featurelist.clearfix.flex.flex-wrap
			.featurecol
				.title Sản xuất và chế biến đồ gỗ & Trồng rừng
				.des chuyên sản xuất các mặt hàng đồ gỗ xuất khẩu nội  và ngoại thất, cung cấp cho thị trường xuất khẩu 4200 cont 40'/ năm với điểm đến hơn 30 quốc gia trên toàn cầu. Khách hàng chủ lực bao gồm các tập đoàn bán lẻ với các thương hiệu nổi tiếng: IKEA , MASTER BRAND, HOME DEPOT, MUJI, COOP TOPTIP, AGOS ... 
				a.link(href="#") www.khaivy.com
			.featurecol
				.title Du lịch – khách sạn
				.des Năm 2007 Tập đoàn Khải Vy đã có những bước đi đầy tự tin khi đầu tư vào một lĩnh vực khá mới mẻ : Khách Sạn & Du Lịch với thương hiệu “MerPerle”, gồm Khu du lịch nghỉ dưỡng Đảo Hòn Tằm – MerPerle Hòn Tằm Resort & khu vui chơi trong ngày MerPerle Sparkling Waves, Khách sạn MerPerle Seasun hotel tại Tp. Nha Trang, Khách sạn MerPerle Crystal Palace tại Phú Mỹ Hưng, Q7, Tp. HCM.
				a.link(href="#") www.merperle.vn
				a.link(href="#") www.hontamresort.vn
			.featurecol
				.title Bất động sản
				.des Với những thành công đó, Tập đoàn Khải Vy mạnh mẽ bước tiếp vào ngành bất động sản với hy vọng sẽ góp phần mang lại cuộc sống phồn thịnh cho khách hàng – những cư dân sống tại khu vực Quận 7 Nam Sài Gòn,  Dự án Grand Nest tọa lạc tại khu vực quận 7. 
				a.link(href="#") www.grandnest.com
section.about-overview.clearfix
	.container
		h2.pagetitle Tổng quan Grand Nest
		.pagedes Grand Nest có tổng diện tích hơn 7 ha, với khu căn hộ, biệt thự riêng biệt và nhiều tiện ích khác biệt, độc đáo, được xây dựng theo mô hình biệt lập, khép kín với lối thiết kế theo phong cách sang trọng, đẳng cấp nên rất an ninh, tạo nên một cộng đồng cư dân đẳng cấp, mang nét văn hóa riêng biệt.
		.about-info.clearfix
			.info-img(style="background:url(img/about/p1.jpg) center center no-repeat;background-size: cover")
			.row.flex.flex-wrap
				.col-xs-12.col-md-6
				.col-xs-12.col-md-6
					.info.content
						.title Thông tin chung
						ul
							li Tên dự án: Khu dân cư & thương mại hỗn hợp Khải Vy
							li Dự án Grand Nest 
							li Chủ Đầu Tư: Công ty Cổ phần Tập Đoàn Khải Vy
							li Địa chỉ: 04 Đào Trí, P. Phú Thuận, Q. 7, TP. HCM
							li Diện tích đất: 77,354.8 m2
							li Diện tích công viên cây xanh và công trình tiện ích: 43,769.4 m2
							li Khu nhà phố: Serena Town House : 131 căn
							li 4 block căn hộ cao cấp: 
								br
								|- Fortuna Town
								br
								|- Grace Town
								br
								|- Hope Town
								br
								|- Bliss Town
							li Số tầng: 33 Tầng
							li Tầng hầm: 01
							li Tầng 1: Dịch vụ, thương mại, văn phòng
							li Tầng 2: Bãi đậu xe
							li Tầng 3: Bãi đậu xe
							li Tầng 4 - 33: Tầng căn hộ
							li Diện tích từ: 65m2 – 93 m2 (2PN – 3PN)

		.about-reason.flex.flex-wrap.clearfix
			.reason-img(style="background:url(img/about/p2.jpg) center center no-repeat;background-size: cover")
			.reasonlist.clearfix.flex.flex-wrap
				.title.text-xs-center 10 lý do để sử hữu căn hội Grand Nest
				.reasoncol
					figure 
						.icon
							img(src="img/about/i1.png", alt="")
						figcaption Quy hoạch hoàn chỉnh
				.reasoncol
					figure 
						.icon
							img(src="img/about/i2.png", alt="")
						figcaption Vị trí giàu tiềm năng
				.reasoncol
					figure 
						.icon
							img(src="img/about/i3.png", alt="")
						figcaption Quản lý và hỗ trợ bằng phần mềm
				.reasoncol
					figure 
						.icon
							img(src="img/about/i4.png", alt="")
						figcaption Triển vọng phát triển
				.reasoncol
					figure 
						.icon
							img(src="img/about/i5.png", alt="")
						figcaption Venine thu nhỏ
				.reasoncol
					figure 
						.icon
							img(src="img/about/i6.png", alt="")
						figcaption Ấn tượng, độc đáo và khác biệt
				.reasoncol
					figure 
						.icon
							img(src="img/about/i7.png", alt="")
						figcaption Môi trường sống gần gũi thiên nhiên
				.reasoncol
					figure 
						.icon
							img(src="img/about/i8.png", alt="")
						figcaption Tiện ích đỉnh cao chuẩn resort
				.reasoncol
					figure 
						.icon
							img(src="img/about/i9.png", alt="")
						figcaption Thiết kế chuẩn mực và cao cấp
				.reasoncol
					figure 
						.icon
							img(src="img/about/i10.png", alt="")
						figcaption Triển khai bởi các đơn vị uy tín

		.about-partner.flex.flex-wrap.clearfix
			.row.flex.flex-wrap
				.partnercol
					.partner
						figure
							img(src="img/kv.png", alt="")
						.title Chủ đầu tư
				.partnercol
					.partner
						figure
							img(src="img/kv.png", alt="")
						.title Đơn vị thiết kế
				.partnercol
					.partner
						figure
							img(src="img/kv.png", alt="")
						.title Đơn vị thi công
				.partnercol
					.partner
						figure
							img(src="img/kv.png", alt="")
						.title Đơn vị giám sát
				.partnercol
					.partner
						figure
							img(src="img/kv.png", alt="")
						.title Ngân hàng bảo lãnh
				.partnercol.big
					.partner
						.img
							img(src="img/kv.png", alt="")
						.img
							img(src="img/kv.png", alt="")
						.img
							img(src="img/kv.png", alt="")
						.title Đơn vị phân phôi
				.partnercol
					.partner
						img(src="img/kv.png", alt="")
						.title Đơn vị quản lý

