.col-xs-12.col-md-6.col-lg-3.nopadding
	section.homebox.home-about.clearfix
		figure
			.boximg
				img(src="img/home/bg1.jpg", alt="")
			a(href="#")
				figcaption
					.headtitle Về Grand Nest
					.des Khu dân cư an ninh và biệt lập tại Quận 7, có tổng diện tích hơn 7ha với nhiều tiện ích khác biệt và độc đáo
					.link <span class="lnr lnr-arrow-right"></span>
.col-xs-12.col-md-6.col-lg-3.nopadding
	section.homebox.home-about.clearfix
		figure
			.boximg
				img(src="img/home/bg2.jpg", alt="")
			a(href="#")
				figcaption
					.headtitle Tiện nghi
					.des Không chỉ sở hữu hệ thống tiện ích ngoại khu hiện đại, khu căn hộ còn được tích hợp những tiện ích cao cấp đồng bộ.
					.link <span class="lnr lnr-arrow-right"></span>
.col-xs-12.col-md-12.col-lg-6.nopadding
	section.homebox.home-about.clearfix
		figure
			.boximg
				img(src="img/home/bg3.jpg", alt="")
			a(href="#")
				figcaption
					.headtitle Vị trí
					//- .des Không chỉ sở hữu hệ thống tiện ích ngoại khu hiện đại, khu căn hộ còn được tích hợp những tiện ích cao cấp đồng bộ.
					.link <span class="lnr lnr-arrow-right"></span>
.col-xs-12.col-md-6.col-lg-3.nopadding
	section.homebox.home-about.clearfix
		figure
			.boximg
				img(src="img/home/bg4.jpg", alt="")
			a(href="#")
				figcaption
					.headtitle Giáo dục
					.des Vị trí đắc địa tại Quận 2 nên chỉ mất vài phút lái xe là cư dân đã có thể kết nối được với các trường học trong nước và quốc tế.
					.link <span class="lnr lnr-arrow-right"></span>
.col-xs-12.col-md-6.col-lg-3.nopadding
	section.homebox.home-about.clearfix
		figure
			.boximg
				img(src="img/home/bg5.jpg", alt="")
			a(href="#")
				figcaption.black
					.headtitle Chăm sóc sức khỏe
					.des Cơ hội tận hưởng toàn bộ tiện ích đẳng cấp hàng đầu của Phú Mỹ Hưng như: bệnh viện FV, bệnh viện Tâm Đức
					.link <span class="lnr lnr-arrow-right"></span>
.col-xs-12.col-md-6.col-lg-3.nopadding
	section.homebox.home-about.clearfix
		figure
			.boximg
				img(src="img/home/bg6.jpg", alt="")
			a(href="#")
				figcaption
					.headtitle Mua sắm - Ẩm thực
					.des Thưởng thức những món ăn ngon và thử nghiệm niềm vui ngập tràn với các thương hiệu thời trang danh tiếng.
					.link <span class="lnr lnr-arrow-right"></span>
.col-xs-12.col-md-6.col-lg-3.nopadding
	section.homebox.home-about.clearfix
		figure
			.boximg
				img(src="img/home/bg7.jpg", alt="")
			figcaption.black
				.headtitle Đăng ký nhận 
					br
					|bản tin
				.subscribe
					.module-title Điền địa chỉ mail của bạn để nhận được những thông tin mới nhất từ chúng tôi.
					.subscribefrm
						input(type="text")
						button.subscribebutton Đăng ký
					.hotline
						.module-title hotline
						a(href="tel:0909099282") 0909 099 282