+breadcrumb("Tin tức - sự kiện","img/breadcrumb/1.jpg")
.container
	section.project-page.clearfix
		.project-promotion.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-md-6
					.promotioncol.big
						figure 
							a.promotionimg(href="#")
								img(src="img/project/pr1.jpg", alt="")
							figcaption
								h3.promotionname
									a(href="#") Chỉ thanh toán 400 triệu đồng cho đến khi nhận căn hộ
								.promotiondes Giá chỉ từ 1.5 tỷ đồng / căn 2 PN. Ân hạn nợ gốc, 0% lãi suất đến khi nhận nhà
				.col-xs-12.col-md-6
					.promotioncol.big
						figure 
							a.promotionimg(href="#")
								img(src="img/project/pr1.jpg", alt="")
							figcaption
								h3.promotionname
									a(href="#") Chỉ thanh toán 400 triệu đồng cho đến khi nhận căn hộ
								.promotiondes Giá chỉ từ 1.5 tỷ đồng / căn 2 PN. Ân hạn nợ gốc, 0% lãi suất đến khi nhận nhà
				.col-xs-12.col-md-4
					.promotioncol
						figure 
							a.promotionimg(href="#")
								img(src="img/project/pr1.jpg", alt="")
							figcaption
								h3.promotionname
									a(href="#") Chỉ thanh toán 400 triệu đồng cho đến khi nhận căn hộ
								//- .promotiondes Giá chỉ từ 1.5 tỷ đồng / căn 2 PN. Ân hạn nợ gốc, 0% lãi suất đến khi nhận nhà
				.col-xs-12.col-md-4
					.promotioncol
						figure 
							a.promotionimg(href="#")
								img(src="img/project/pr1.jpg", alt="")
							figcaption
								h3.promotionname
									a(href="#") Chỉ thanh toán 400 triệu đồng cho đến khi nhận căn hộ
								//- .promotiondes Giá chỉ từ 1.5 tỷ đồng / căn 2 PN. Ân hạn nợ gốc, 0% lãi suất đến khi nhận nhà
				.col-xs-12.col-md-4
					.promotioncol
						figure 
							a.promotionimg(href="#")
								img(src="img/project/pr1.jpg", alt="")
							figcaption
								h3.promotionname
									a(href="#") Chỉ thanh toán 400 triệu đồng cho đến khi nhận căn hộ
								//- .promotiondes Giá chỉ từ 1.5 tỷ đồng / căn 2 PN. Ân hạn nợ gốc, 0% lãi suất đến khi nhận nhà