+breadcrumb("Liên hệ","img/breadcrumb/1.jpg")
.container
	section.project-page.clearfix
		.contact-page
			#map
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.3334214764723!2d106.74198891434973!3d10.708745492367491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317525485ee45ed5%3A0xde491ae8479f60a0!2zQ-G6p3UgdMOgdSwgUGjDuiBN4bu5LCBRdeG6rW4gNywgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1496977790252" width="100%" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
			.row.flex.flex-wrap
				.col-xs-12.col-lg-3
					.contactinfo
						.title Chủ đầu tư
						.logo 
							img(src="img/kv.png", alt="")
						.company Công ty cổ phần tập đoàn khải vy
						ul 
							li 04 Đào Trí, P. Phú Thuận, Q. 7, TP. HCM
							li Hotline: 
								a(href="tel:0909 099 282") 0909 099 282
							li Email: 
								a(href="mailto:info@grandnest.com") info@grandnest.com
							li Website: 
								a(href="http://grandnest.com") grandnest.com
					.contactinfo
						.title Chủ đầu tư
						.logo 
							img(src="img/kv.png", alt="")
						.company Công ty cổ phần tập đoàn khải vy
						ul 
							li 04 Đào Trí, P. Phú Thuận, Q. 7, TP. HCM
							li Hotline: 
								a(href="tel:0909 099 282") 0909 099 282
							li Email: 
								a(href="mailto:info@grandnest.com") info@grandnest.com
							li Website: 
								a(href="http://grandnest.com") grandnest.com
				.col-xs-12.col-lg-9
					.contact-form
						.module-title Quý khách có những thắc mắc cần chúng tôi hỗ trợ qua email, xin Quý khách vui lòng điền thông tin vào Form bên phải để được hỗ trợ tốt nhất.
						.row.flex.flex-wrap
							.form-group.col-xs-12.col-md-6
								label Họ tên người gửi
								input(type="text")
							.form-group.col-xs-12.col-md-6
								label Điện thoại
								input(type="text")
							.form-group.col-xs-12.col-md-6
								label Ngành nghề
								input(type="text")
							.form-group.col-xs-12.col-md-6
								label Email
								input(type="text")
							.form-group.col-xs-12.col-md-6
								label Địa chỉ
								input(type="text")
							.form-group.col-xs-12.col-md-6
								label Tiêu đề
								input(type="text")
							.form-group.col-xs-12
								label Nội dung
								textarea(name="", cols="30", rows="5")
						input(type="submit", value="Gửi")
