+breadcrumb("Sản phẩm","img/breadcrumb/1.jpg")
.container
	section.product-page.clearfix
		.product-filter.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-sm-6.col-lg-3
					.filter
						select 
							option Căn hộ và nhà phố
				.col-xs-12.col-sm-6.col-lg-3
					.filter
						select 
							option Tầng
				.col-xs-12.col-sm-6.col-lg-3
					.filter
						select 
							option Mẫu thiết kế
				.col-xs-12.col-sm-6.col-lg-3
					.filter
						select 
							option Hướng
		.productlist.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-md-4.col-lg-3
					.productcol
						figure 
							a.productimg(href="#")
								img(src="img/canho/h1.jpg", alt="")
							figcaption
								h3.productname
									a(href="#") Căn hộ Fortuna Town - B1
								.productdes Địa chỉ: Quận 7, TP.HCM
									br
									|Giá: 
									span.price 4 Tỷ VNĐ
									br
									|Tình trạng: Đã đặt cọc
								.productdetail.clearfix
									.dientich <i class="fa fa-arrows-alt" aria-hidden="true"></i> 90m<sup>2</sup>
									.phongtam <i class="fa fa-bath" aria-hidden="true"></i> 3
									.phongngu <i class="fa fa-bed" aria-hidden="true"></i> 2
				.col-xs-12.col-md-4.col-lg-3
					.productcol
						figure 
							a.productimg(href="#")
								img(src="img/canho/h1.jpg", alt="")
							figcaption
								h3.productname
									a(href="#") Căn hộ Fortuna Town - B1
								.productdes Địa chỉ: Quận 7, TP.HCM
									br
									|Giá: 
									span.price 4 Tỷ VNĐ
									br
									|Tình trạng: Đã đặt cọc
								.productdetail.clearfix
									.dientich <i class="fa fa-arrows-alt" aria-hidden="true"></i> 90m<sup>2</sup>
									.phongtam <i class="fa fa-bath" aria-hidden="true"></i> 3
									.phongngu <i class="fa fa-bed" aria-hidden="true"></i> 2
				.col-xs-12.col-md-4.col-lg-3
					.productcol
						figure 
							a.productimg(href="#")
								img(src="img/canho/h1.jpg", alt="")
							figcaption
								h3.productname
									a(href="#") Căn hộ Fortuna Town - B1
								.productdes Địa chỉ: Quận 7, TP.HCM
									br
									|Giá: 
									span.price 4 Tỷ VNĐ
									br
									|Tình trạng: Đã đặt cọc
								.productdetail.clearfix
									.dientich <i class="fa fa-arrows-alt" aria-hidden="true"></i> 90m<sup>2</sup>
									.phongtam <i class="fa fa-bath" aria-hidden="true"></i> 3
									.phongngu <i class="fa fa-bed" aria-hidden="true"></i> 2
				.col-xs-12.col-md-4.col-lg-3
					.productcol
						figure 
							a.productimg(href="#")
								img(src="img/canho/h1.jpg", alt="")
							figcaption
								h3.productname
									a(href="#") Căn hộ Fortuna Town - B1
								.productdes Địa chỉ: Quận 7, TP.HCM
									br
									|Giá: 
									span.price 4 Tỷ VNĐ
									br
									|Tình trạng: Đã đặt cọc
								.productdetail.clearfix
									.dientich <i class="fa fa-arrows-alt" aria-hidden="true"></i> 90m<sup>2</sup>
									.phongtam <i class="fa fa-bath" aria-hidden="true"></i> 3
									.phongngu <i class="fa fa-bed" aria-hidden="true"></i> 2
				.col-xs-12.col-md-4.col-lg-3
					.productcol
						figure 
							a.productimg(href="#")
								img(src="img/canho/h1.jpg", alt="")
							figcaption
								h3.productname
									a(href="#") Căn hộ Fortuna Town - B1
								.productdes Địa chỉ: Quận 7, TP.HCM
									br
									|Giá: 
									span.price 4 Tỷ VNĐ
									br
									|Tình trạng: Đã đặt cọc
								.productdetail.clearfix
									.dientich <i class="fa fa-arrows-alt" aria-hidden="true"></i> 90m<sup>2</sup>
									.phongtam <i class="fa fa-bath" aria-hidden="true"></i> 3
									.phongngu <i class="fa fa-bed" aria-hidden="true"></i> 2
				.col-xs-12.col-md-4.col-lg-3
					.productcol
						figure 
							a.productimg(href="#")
								img(src="img/canho/h1.jpg", alt="")
							figcaption
								h3.productname
									a(href="#") Căn hộ Fortuna Town - B1
								.productdes Địa chỉ: Quận 7, TP.HCM
									br
									|Giá: 
									span.price 4 Tỷ VNĐ
									br
									|Tình trạng: Đã đặt cọc
								.productdetail.clearfix
									.dientich <i class="fa fa-arrows-alt" aria-hidden="true"></i> 90m<sup>2</sup>
									.phongtam <i class="fa fa-bath" aria-hidden="true"></i> 3
									.phongngu <i class="fa fa-bed" aria-hidden="true"></i> 2
				.col-xs-12.col-md-4.col-lg-3
					.productcol
						figure 
							a.productimg(href="#")
								img(src="img/canho/h1.jpg", alt="")
							figcaption
								h3.productname
									a(href="#") Căn hộ Fortuna Town - B1
								.productdes Địa chỉ: Quận 7, TP.HCM
									br
									|Giá: 
									span.price 4 Tỷ VNĐ
									br
									|Tình trạng: Đã đặt cọc
								.productdetail.clearfix
									.dientich <i class="fa fa-arrows-alt" aria-hidden="true"></i> 90m<sup>2</sup>
									.phongtam <i class="fa fa-bath" aria-hidden="true"></i> 3
									.phongngu <i class="fa fa-bed" aria-hidden="true"></i> 2
				.col-xs-12.col-md-4.col-lg-3
					.productcol
						figure 
							a.productimg(href="#")
								img(src="img/canho/h1.jpg", alt="")
							figcaption
								h3.productname
									a(href="#") Căn hộ Fortuna Town - B1
								.productdes Địa chỉ: Quận 7, TP.HCM
									br
									|Giá: 
									span.price 4 Tỷ VNĐ
									br
									|Tình trạng: Đã đặt cọc
								.productdetail.clearfix
									.dientich <i class="fa fa-arrows-alt" aria-hidden="true"></i> 90m<sup>2</sup>
									.phongtam <i class="fa fa-bath" aria-hidden="true"></i> 3
									.phongngu <i class="fa fa-bed" aria-hidden="true"></i> 2
		.pages
			ul.pagination
				li.active
					a(href="#") 1
				li 
					a(href="#") 2
				li 
					a(href="#") 3
				li 
					a(href="#") 4