+breadcrumb("Sản phẩm","img/breadcrumb/1.jpg")
.container
	section.product-page.clearfix
		.product-detail.clearfix
			h1.canho-name Căn hộ 2 phòng ngủ Grace Town - B1
			.canho-price
				span Giá:
				span.price 4 Tỷ VNĐ
			.row.flex.flex-wrap
				.col-xs-12.col-lg-8
					.canho-detail
						.row.flex.flex-wrap
							.col-xs-12.col-md-4
								.detailcol
									<i class="fa fa-arrows-alt" aria-hidden="true"></i> Diện tích: 
									strong 90m<sup>2</sup>
							.col-xs-12.col-md-4
								.detailcol
									<i class="fa fa-bed" aria-hidden="true"></i> Phòng ngủ: 
									strong 2
							.col-xs-12.col-md-4
								.detailcol
									<i class="fa fa-bath" aria-hidden="true"></i> Phòng tắm: 
									strong 3
					.canho-picture.clearfix
						.canho-slide
							.item 
								a.canho-img(href="img/canho/h1.jpg" data-fancybox="gal1")
									img(src="img/canho/h1.jpg", alt="")
							.item 
								a.canho-img(href="img/canho/h1.jpg" data-fancybox="gal1")
									img(src="img/canho/h1.jpg", alt="")
							.item 
								a.canho-img(href="img/canho/h1.jpg" data-fancybox="gal1")
									img(src="img/canho/h1.jpg", alt="")
							.item 
								a.canho-img(href="img/canho/h1.jpg" data-fancybox="gal1")
									img(src="img/canho/h1.jpg", alt="")
							.item 
								a.canho-img(href="img/canho/h1.jpg" data-fancybox="gal1")
									img(src="img/canho/h1.jpg", alt="")
							.item 
								a.canho-img(href="img/canho/h1.jpg" data-fancybox="gal1")
									img(src="img/canho/h1.jpg", alt="")
							.item 
								a.canho-img(href="img/canho/h1.jpg" data-fancybox="gal1")
									img(src="img/canho/h1.jpg", alt="")
						.canho-nav
							.item 
								.canho-img
									img(src="img/canho/h1.jpg", alt="")
							.item 
								.canho-img
									img(src="img/canho/h1.jpg", alt="")
							.item 
								.canho-img
									img(src="img/canho/h1.jpg", alt="")
							.item 
								.canho-img
									img(src="img/canho/h1.jpg", alt="")
							.item 
								.canho-img
									img(src="img/canho/h1.jpg", alt="")
							.item 
								.canho-img
									img(src="img/canho/h1.jpg", alt="")
							.item 
								.canho-img
									img(src="img/canho/h1.jpg", alt="")
				.col-xs-12.col-lg-4
					.canho-description
						.title Mô tả chi tiết
						.detail 
							ul 
								li
									.label Diện tích thông thủy
									.value 62,20 m<sup>2</sup>
								li
									.label Diện tích thông thủy
									.value 62,20 m<sup>2</sup>
								li
									.label Diện tích thông thủy
									.value 62,20 m<sup>2</sup>
								li
									.label Diện tích thông thủy
									.value 62,20 m<sup>2</sup>
								li
									.label Diện tích thông thủy
									.value 62,20 m<sup>2</sup>
								li
									.label Diện tích thông thủy
									.value 62,20 m<sup>2</sup>
						.btnwrap.text-xs-center
							a.btn-download(href="#") Tải bản danh mục vật liệu hoàn thiện
				.col-xs-12
					section.tienich.clearfix
						h2.canho-title Tiện ích nội khu
						.tienich-list.clearfix
							.row.flex.flex-wrap
								.col-xs-12.col-sm-6.col-md-4
									ul 
										li <i class="fa fa-building" aria-hidden="true"></i> Trung tâm giáo dục
										li <i class="fa fa-building" aria-hidden="true"></i> Trung tâm giáo dục
										li <i class="fa fa-building" aria-hidden="true"></i> Trung tâm giáo dục
										li <i class="fa fa-building" aria-hidden="true"></i> Trung tâm giáo dục
								.col-xs-12.col-sm-6.col-md-4
									ul 
										li <i class="fa fa-building" aria-hidden="true"></i> Trung tâm giáo dục
										li <i class="fa fa-building" aria-hidden="true"></i> Trung tâm giáo dục
										li <i class="fa fa-building" aria-hidden="true"></i> Trung tâm giáo dục
										li <i class="fa fa-building" aria-hidden="true"></i> Trung tâm giáo dục
								.col-xs-12.col-sm-6.col-md-4
									ul 
										li <i class="fa fa-building" aria-hidden="true"></i> Trung tâm giáo dục
										li <i class="fa fa-building" aria-hidden="true"></i> Trung tâm giáo dục
										li <i class="fa fa-building" aria-hidden="true"></i> Trung tâm giáo dục
										li <i class="fa fa-building" aria-hidden="true"></i> Trung tâm giáo dục
				.col-xs-12
					section.bando.clearfix
						h2.canho-title bản đồ kết nối vùng
						.bando-wrap.clearfix
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.305773258983!2d106.69489421538358!3d10.787876492313723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f351f989009%3A0x62ce738cfaedae8e!2zMTU2IE5ndXnhu4VuIFbEg24gVGjhu6csIMSQYSBLYW8sIFF14bqtbiAxLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1499761025670" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
							.bando-filter.clearfix
								.filter
									select 
										option Trường học
								.point-list.clearfix
									ul 
										li 
											.name Đại học Tôn Đức Thắng
											.des 6,2 km
										li 
											.name Đại học Tôn Đức Thắng
											.des 6,2 km
										li 
											.name Đại học Tôn Đức Thắng
											.des 6,2 km
										li 
											.name Đại học Tôn Đức Thắng
											.des 6,2 km
										li 
											.name Đại học Tôn Đức Thắng
											.des 6,2 km
										li 
											.name Đại học Tôn Đức Thắng
											.des 6,2 km
										li 
											.name Đại học Tôn Đức Thắng
											.des 6,2 km
				.col-xs-12
					section.canho-form.clearfix
						h2.canho-title Liên hệ với chúng tôi
						.form-wrap.row.flex.flex-wrap.clearfix
							.form-group.col-xs-12.col-md-6
								label Họ tên người gửi 
								input(type="text")
							.form-group.col-xs-12.col-md-6
								label Điện thoại
								input(type="text")
							.form-group.col-xs-12.col-md-6
								label Email
								input(type="text")
							.form-group.col-xs-12.col-md-6
								label Tiêu đề
								input(type="text")
							.form-group.col-xs-12
								label Nội dung
								textarea(name="", cols="30", rows="5")
							.frm-btn
								input(type="submit", value="Gửi")
							