+breadcrumb("Tính lãi","img/breadcrumb/1.jpg")
.container
	section.project-page.clearfix
		.calc-benefit.clearfix
			.calc-tool
				.form-group.clearfix
					label Giá trị căn hộ
					input(type="text")
					.per VND
				.form-group.clearfix
					label Khoản vay
					input(type="text")
					.per %
				.form-group.clearfix
					label Số tiền vay
					input(type="text" disabled)
					.per VND
				.form-group.clearfix
					label Lãi suất ngân hàng
					input(type="text")
					.per %(năm)
				.form-group.clearfix
					label Thời gian vay
					input(type="text")
					.per tháng
				.form-group.clearfix
					label
					input(type="submit", value="Kết quả")
			.img(style="background: url(img/calc/bg.jpg) center center no-repeat;background-size: cover")
		section.month-data.clearfix
			.title.text-xs-center Số tiền thanh toán hàng tháng
			.table-responsive
				table.table
					thead 
						tr 
							th tháng
							th Tiền vay còn lại
							th Tiền vay trả hàng tháng
							th Lãi trả hàng tháng
							th Tổng tiền trả hàng tháng
					tbody
						tr 
							td 1
							td 590,000,000 VND
							td 10,000,000 VND
							td 5,000,000 VND
							td 15,000,000 VND
						tr 
							td 2
							td 590,000,000 VND
							td 10,000,000 VND
							td 5,000,000 VND
							td 15,000,000 VND
						tr 
							td 3
							td 590,000,000 VND
							td 10,000,000 VND
							td 5,000,000 VND
							td 15,000,000 VND
						tr 
							td 4
							td 590,000,000 VND
							td 10,000,000 VND
							td 5,000,000 VND
							td 15,000,000 VND
						tr 
							td 5
							td 590,000,000 VND
							td 10,000,000 VND
							td 5,000,000 VND
							td 15,000,000 VND
						tr 
							td 6
							td 590,000,000 VND
							td 10,000,000 VND
							td 5,000,000 VND
							td 15,000,000 VND
						tr 
							td 7
							td 590,000,000 VND
							td 10,000,000 VND
							td 5,000,000 VND
							td 15,000,000 VND
						tr 
							td 8
							td 590,000,000 VND
							td 10,000,000 VND
							td 5,000,000 VND
							td 15,000,000 VND
						tr 
							td 9
							td 590,000,000 VND
							td 10,000,000 VND
							td 5,000,000 VND
							td 15,000,000 VND
						tr 
							td 10
							td 590,000,000 VND
							td 10,000,000 VND
							td 5,000,000 VND
							td 15,000,000 VND