+breadcrumb("Tin tức - sự kiện","img/breadcrumb/1.jpg")
.container
	section.project-page.clearfix
		nav.top-nav.clearfix
			ul 
				li
					a(href="#")
						//- .icon
							img(src="img/project/i-mb.png", alt="")
						.text Tin tức dự án
				li.active
					a(href="#")
						//- .icon
							img(src="img/project/i-nt.png", alt="")
						.text Tin thị trường
				li
					a(href="#")
						//- .icon
							img(src="img/project/i-vd.png", alt="")
						.text Sự kiện
				//- li
					a(href="#")
						.icon
							img(src="img/project/360.png", alt="")
						.text Xem 360<sup>o</sup>
				//- li.active
					a(href="#")
						.icon
							img(src="img/project/i-td.png", alt="")
						.text Tiến độ
		//- nav.topnav.clearfix
			ul 
				li.active
					a(href="#") 2017
				li
					a(href="#") 2016
				li 
					a(href="#") 2015
		.news-page.clearfix
			.newslist.clearfix
				.row.flex.flex-wrap
					.col-xs-12.col-sm-6.col-md-4.col-lg-3
						.newscol
							figure 
								a.newsimg(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time
										.date 04
										.month Tháng 5
									h2.newsname
										a(href="#") 5 điểm nhấn đặc biệt chỉ có tại dự án căn hộ Grand Nest	
									.newsdes Thông tin mua nhà chung cư có sổ đỏ vẫn mất trắng sau 50 năm đang gây hoang mang, quyền sở hữu đã được pháp luật bảo hộ. […]
					.col-xs-12.col-sm-6.col-md-4.col-lg-3
						.newscol
							figure 
								a.newsimg(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time
										.date 04
										.month Tháng 5
									h2.newsname
										a(href="#") 5 điểm nhấn đặc biệt chỉ có tại dự án căn hộ Grand Nest	
									.newsdes Thông tin mua nhà chung cư có sổ đỏ vẫn mất trắng sau 50 năm đang gây hoang mang, quyền sở hữu đã được pháp luật bảo hộ. […]
					.col-xs-12.col-sm-6.col-md-4.col-lg-3
						.newscol
							figure 
								a.newsimg(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time
										.date 04
										.month Tháng 5
									h2.newsname
										a(href="#") 5 điểm nhấn đặc biệt chỉ có tại dự án căn hộ Grand Nest	
									.newsdes Thông tin mua nhà chung cư có sổ đỏ vẫn mất trắng sau 50 năm đang gây hoang mang, quyền sở hữu đã được pháp luật bảo hộ. […]
					.col-xs-12.col-sm-6.col-md-4.col-lg-3
						.newscol
							figure 
								a.newsimg(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time
										.date 04
										.month Tháng 5
									h2.newsname
										a(href="#") 5 điểm nhấn đặc biệt chỉ có tại dự án căn hộ Grand Nest	
									.newsdes Thông tin mua nhà chung cư có sổ đỏ vẫn mất trắng sau 50 năm đang gây hoang mang, quyền sở hữu đã được pháp luật bảo hộ. […]
					.col-xs-12.col-sm-6.col-md-4.col-lg-3
						.newscol
							figure 
								a.newsimg(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time
										.date 04
										.month Tháng 5
									h2.newsname
										a(href="#") 5 điểm nhấn đặc biệt chỉ có tại dự án căn hộ Grand Nest	
									.newsdes Thông tin mua nhà chung cư có sổ đỏ vẫn mất trắng sau 50 năm đang gây hoang mang, quyền sở hữu đã được pháp luật bảo hộ. […]
					.col-xs-12.col-sm-6.col-md-4.col-lg-3
						.newscol
							figure 
								a.newsimg(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time
										.date 04
										.month Tháng 5
									h2.newsname
										a(href="#") 5 điểm nhấn đặc biệt chỉ có tại dự án căn hộ Grand Nest	
									.newsdes Thông tin mua nhà chung cư có sổ đỏ vẫn mất trắng sau 50 năm đang gây hoang mang, quyền sở hữu đã được pháp luật bảo hộ. […]
					.col-xs-12.col-sm-6.col-md-4.col-lg-3
						.newscol
							figure 
								a.newsimg(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time
										.date 04
										.month Tháng 5
									h2.newsname
										a(href="#") 5 điểm nhấn đặc biệt chỉ có tại dự án căn hộ Grand Nest	
									.newsdes Thông tin mua nhà chung cư có sổ đỏ vẫn mất trắng sau 50 năm đang gây hoang mang, quyền sở hữu đã được pháp luật bảo hộ. […]