+breadcrumb("Tiện ích vượt trội","img/breadcrumb/1.jpg")
.container
	section.project-page.clearfix
		nav.top-nav.clearfix
			ul 
				li
					a(href="#")
						.icon
							img(src="img/project/i1.png", alt="")
						.text Tiện ích nội khu
				li.active
					a(href="#")
						.icon
							img(src="img/project/i2.png", alt="")
						.text Tiện ích ngoại khu
		.project-utilities2.clearfix
			h1.pagetitle.text-xs-center Giá trị kết nối
			.pagedes Không chỉ sở hữu hệ thống tiện ích nội khu hiện đại, Grand Nest còn được tích hợp những tiện ích ngoại khu đa dạng.
			.connection-list.clearfix
				.row.flex.flex-wrap
					.col-xs-12.col-xl-9
						.connection-map
							img(src="img/tienich/map.jpg", alt="")
					.col-xs-12.col-xl-3
						section.sidebar-utilities.clearfix
							.group
								.title Vùng
								ul 
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
							.group
								.title Vùng
								ul 
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
							.group
								.title Vùng
								ul 
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
							.group
								.title Vùng
								ul 
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
									li 
										.location Trung tâm quận 1
										.distance 9,4 km
										.time 22 phút
					.col-xs-12.col-lg-6
						.utilities-intro
							figure 
								//- .img 
									img(src="img/tienich/hospital.jpg", alt="")
								figcaption Toạ lạc tại vị trí vàng và giàu tiềm năng nhất nhì TP. Hồ Chí Minh và quận 7, Grand Nest hứa hẹn trở thành không gian sống lý tưởng với môi trường xanh trong lành, vị trí thuận tiện liên kết với các khu vực trung tâm của thành phố, và các tiện ích hỗ trợ nhằm nâng cao cuộc sống của cư dân lên một đẳng cấp mới.
					.col-xs-12.col-md-6.col-lg-3
						.utilities-pic
							img(src="img/tienich/hospital.jpg", alt="")
					.col-xs-12.col-md-6.col-lg-3
						.utilities-pic
							img(src="img/tienich/school.jpg", alt="")
					.col-xs-12.col-md-6.col-lg-6
						.utilities-pic
							img(src="img/tienich/school2.jpg", alt="")
					.col-xs-12.col-md-6.col-lg-3
						.utilities-pic
							img(src="img/tienich/mall.jpg", alt="")
					.col-xs-12.col-md-6.col-lg-3
						.utilities-intro.intro2
							figure 
								//- .img 
									img(src="img/tienich/hospital.jpg", alt="")
								figcaption Grand Nest với thiết kế hiện đại cùng các tiện nghi cao cấp theo tiêu chuẩn quốc tế nhất định sẽ là điểm đến lý tưởng cho mọi gia đình.
					.col-xs-12.col-md-6.col-lg-3
						.utilities-intro
							figure 
								//- .img 
									img(src="img/tienich/hospital.jpg", alt="")
								figcaption Không chỉ thể hiện đẳng cấp, tôn vinh giá trị của chủ sở hữu, Grand Nest còn có diện tích cây xanh rộng lớn, lại nằm sát lá phổi xanh Cần Giờ tạo nên hệ sinh thái yên bình, có lợi cho sức khoẻ.
					.col-xs-12.col-md-6.col-lg-6
						.utilities-pic
							img(src="img/tienich/travel.jpg", alt="")
					.col-xs-12.col-md-6.col-lg-3
						.utilities-pic
							img(src="img/tienich/view.jpg", alt="")