+breadcrumb("Tiện ích vượt trội","img/breadcrumb/1.jpg")
.container
	section.project-page.clearfix
		nav.top-nav.clearfix
			ul 
				li.active
					a(href="#")
						.icon
							img(src="img/project/i1.png", alt="")
						.text Tiện ích nội khu
				li 
					a(href="#")
						.icon
							img(src="img/project/i2.png", alt="")
						.text Tiện ích ngoại khu
		.project-utilities.clearfix
			.utilities-map
				img(src="img/project/tienich.jpg", alt="")
		.project-gallery.clearfix
			.col.clearfix
				.album.big
					figure
						.pic(style="background: url(img/project/t1.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t1.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
				.album
					figure
						.pic(style="background: url(img/project/t2.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t2.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
				.album
					figure
						.pic(style="background: url(img/project/t3.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t3.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
			.col.col1.clearfix
				.album
					figure
						.pic(style="background: url(img/project/t4.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t4.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
				.album
					figure
						.pic(style="background: url(img/project/t5.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t5.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
				.album
					figure
						.pic(style="background: url(img/project/t6.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t6.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
			.col.clearfix
				.album
					figure
						.pic(style="background: url(img/project/t7.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t7.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
				.album
					figure
						.pic(style="background: url(img/project/t8.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t8.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
				.album.big
					figure
						.pic(style="background: url(img/project/t9.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t9.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi