+breadcrumb("Tiện ích vượt trội","img/breadcrumb/1.jpg")
.container
	section.project-page.clearfix
		nav.top-nav.clearfix
			ul 
				li.active
					a(href="#")
						.icon
							img(src="img/project/i1.png", alt="")
						.text Tiện ích nội khu
				li 
					a(href="#")
						.icon
							img(src="img/project/i2.png", alt="")
						.text Tiện ích ngoại khu
		.project-utilities.clearfix
			h1.pagetitle.text-xs-center Tận hưởng nhiều tiện ích chuẩn Resort
			.pagedes Điểm nhấn là dòng sông xanh trong lòng dự án kết hợp với hệ thống thác tràn tạo nên khung cảnh thiên nhiên tuyệt đẹp
			.row.flex.flex-wrap.clearfix
				.col-custom.col-1-5
					a.pic-col(href="img/tienich/1.jpg" data-fancybox="utilities1")
						img(src="img/tienich/1.jpg", alt="")
				.col-custom.col-1-5
					a.pic-col(href="img/tienich/1.jpg" data-fancybox="utilities1")
						img(src="img/tienich/1.jpg", alt="")
				.col-custom.col-1-5
					a.pic-col(href="img/tienich/1.jpg" data-fancybox="utilities1")
						img(src="img/tienich/1.jpg", alt="")
				.col-custom.col-2-5
					article.text-col.clearfix.blue
						h2.title Y tế & Giáo dục
						ul 
							li
								.number 1
								| Trung tâm ngoại ngữ
							li
								.number 2
								| 2 Trường mầm non 
							li
								.number 3
								| Tiểu học rộng 3000m<sup>2</sup>
							li
								.number 4
								| Phòng khám đa khoa
				.col-custom.col-2-5
					article.text-col.clearfix.green
						h2.title Y tế & Giáo dục
						ul 
							li
								.number 1
								| Trung tâm ngoại ngữ
							li
								.number 2
								| 2 Trường mầm non 
							li
								.number 3
								| Tiểu học rộng 3000m<sup>2</sup>
							li
								.number 4
								| Phòng khám đa khoa
							li
								.number 5
								| Phòng khám đa khoa
				.col-custom.col-2-5
					a.pic-col(href="img/tienich/1.jpg" data-fancybox="utilities1")
						img(src="img/tienich/1.jpg", alt="")
				.col-custom.col-1-5
					a.pic-col(href="img/tienich/1.jpg" data-fancybox="utilities1")
						img(src="img/tienich/1.jpg", alt="")
				.col-custom.col-1-5
					a.pic-col(href="img/tienich/1.jpg" data-fancybox="utilities1")
						img(src="img/tienich/1.jpg", alt="")
					a.pic-col(href="img/tienich/1.jpg" data-fancybox="utilities1")
						img(src="img/tienich/1.jpg", alt="")
				.col-custom.col-2-5
					a.pic-col.big(href="img/tienich/1.jpg" data-fancybox="utilities1")
						img(src="img/tienich/1.jpg", alt="")
				.col-custom.col-2-5
					article.text-col.clearfix.brown.big
						h2.title Y tế & Giáo dục
						ul 
							li
								.number 1
								| Trung tâm ngoại ngữ
							li
								.number 2
								| 2 Trường mầm non 
							li
								.number 3
								| Tiểu học rộng 3000m<sup>2</sup>
							li
								.number 4
								| Phòng khám đa khoa
							li
								.number 5
								| Phòng khám đa khoa
				.col-custom.col-2-5
					article.text-col.clearfix.purple.big
						h2.title Y tế & Giáo dục
						ul 
							li
								.number 1
								| Trung tâm ngoại ngữ
							li
								.number 2
								| 2 Trường mầm non 
							li
								.number 3
								| Tiểu học rộng 3000m<sup>2</sup>
							li
								.number 4
								| Phòng khám đa khoa
							li
								.number 5
								| Phòng khám đa khoa
				.col-custom.col-2-5
					.row.flex.flex-wrap
						.col-custom.col-5-5
							a.pic-col(href="img/tienich/1.jpg" data-fancybox="utilities1")
								img(src="img/tienich/1.jpg", alt="")
						.col-custom.col-25-5
							a.pic-col(href="img/tienich/1.jpg" data-fancybox="utilities1")
								img(src="img/tienich/1.jpg", alt="")
						.col-custom.col-25-5
							a.pic-col(href="img/tienich/1.jpg" data-fancybox="utilities1")
								img(src="img/tienich/1.jpg", alt="")
				.col-custom.col-1-5
					a.pic-col.big(href="img/tienich/1.jpg" data-fancybox="utilities1")
						img(src="img/tienich/1.jpg", alt="")