+breadcrumb("Tin tức - sự kiện","img/breadcrumb/1.jpg")
.container
	section.project-page.clearfix
		nav.top-nav.clearfix
			ul 
				li
					a(href="#")
						//- .icon
							img(src="img/project/i-mb.png", alt="")
						.text Tin tức dự án
				li.active
					a(href="#")
						//- .icon
							img(src="img/project/i-nt.png", alt="")
						.text Tin thị trường
				li
					a(href="#")
						//- .icon
							img(src="img/project/i-vd.png", alt="")
						.text Sự kiện
				//- li
					a(href="#")
						.icon
							img(src="img/project/360.png", alt="")
						.text Xem 360<sup>o</sup>
				//- li.active
					a(href="#")
						.icon
							img(src="img/project/i-td.png", alt="")
						.text Tiến độ
		//- nav.topnav.clearfix
			ul 
				li.active
					a(href="#") 2017
				li
					a(href="#") 2016
				li 
					a(href="#") 2015
		.flex.flex-wrap
			.col-xs-12.col-lg-9.nopadding
				.news-page.clearfix
					.news-detail.clearfix
						h1.newsname-title 5 điểm nhấn đặc biệt chỉ có tại dự án căn hộ Grand Nest	
						.news-info
							time 15/05/017
							.share
								img(src="img/share.jpg", alt="")
						.content
							p Dự kiến ra mắt thị trường vào giữa năm 2017, nhưng những thông tin rò rỉ từ dự án căn hộ Grand Nest đã thu hút sự quan tâm của giới đầu tư. Ngay từ những ngày đầu năm 2017, dự án đã thu hút đông đảo khách hàng đến dự án để khảo sát tiềm năng của dự án.

							p Điều này không gây quá nhiều bất ngờ cho những nhà phát triển dự án, vì đây là dự án căn hộ hướng đến khách hàng thực nên việc dù chưa ra mắt chính thức nhưng Grand Nest lại thu hút đông đảo khách hàng đến vậy.

							p Hầu hết khách hàng đến thực tế dự án đều có chung nhận xét:
							h4 1. Môi trường sống văn minh hiện đại
							p Tọa lạc ngay mặt tiền đường Đào Trí, trong quần thể khu đô thị hiện đại River City, Lacasa, Jamona, Saigon Peninsula, lại ngay cạnh khu đô thị hiện đại Phú Mỹ Hưng.

							p Nơi đây được biết đến với cộng đồng dân cư văn mình, phần lớn là các chuyên gia nước ngoài và người thu nhập cao. Cùng với đó là cơ sở giáo dục hiện đại Đại học RMIT, Đại học Tôn Đức Thắng và chăm sóc sức khỏe cũng đạt chuẩn Quốc tế Bệnh viện FV, Viện tim Tâm Đức là điểm đến được các cư dân tinh tưởng.

							p Đây chính là nền tảng quan trọng cho việc an cư lâu dài cho cư dân tại căn hộ Grand Nest, đồng thời cũng mở ra cơ hội đầu tư cho thuê cực lớn.
			.col-xs-12.col-lg-3.nopadding
				.other-news.clearfix
					.sidebartitle Tin tức khác
					.newslist.clearfix
						.newscol
							figure 
								//- a.newsimg(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time
										.date 04
										.month Tháng 5
									h2.newsname
										a(href="#") 5 điểm nhấn đặc biệt chỉ có tại dự án căn hộ Grand Nest	
									.newsdes Thông tin mua nhà chung cư có sổ đỏ vẫn mất trắng sau 50 năm đang gây hoang mang, quyền sở hữu đã được pháp luật bảo hộ. […]
						.newscol
							figure 
								//- a.newsimg(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time
										.date 04
										.month Tháng 5
									h2.newsname
										a(href="#") 5 điểm nhấn đặc biệt chỉ có tại dự án căn hộ Grand Nest	
									.newsdes Thông tin mua nhà chung cư có sổ đỏ vẫn mất trắng sau 50 năm đang gây hoang mang, quyền sở hữu đã được pháp luật bảo hộ. […]
						.newscol
							figure 
								//- a.newsimg(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time
										.date 04
										.month Tháng 5
									h2.newsname
										a(href="#") 5 điểm nhấn đặc biệt chỉ có tại dự án căn hộ Grand Nest	
									.newsdes Thông tin mua nhà chung cư có sổ đỏ vẫn mất trắng sau 50 năm đang gây hoang mang, quyền sở hữu đã được pháp luật bảo hộ. […]
						.newscol
							figure 
								//- a.newsimg(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time
										.date 04
										.month Tháng 5
									h2.newsname
										a(href="#") 5 điểm nhấn đặc biệt chỉ có tại dự án căn hộ Grand Nest	
									.newsdes Thông tin mua nhà chung cư có sổ đỏ vẫn mất trắng sau 50 năm đang gây hoang mang, quyền sở hữu đã được pháp luật bảo hộ. […]
