+breadcrumb("Thông tin dự án","img/breadcrumb/1.jpg")
.container
	section.project-page.clearfix
		nav.top-nav.info-nav.clearfix
			ul 
				li
					a(href="#")
						.icon
							img(src="img/project/i-mb.png", alt="")
						.text Mặt bằng
				li
					a(href="#")
						.icon
							img(src="img/project/i-nt.png", alt="")
						.text Nội thất
				li
					a(href="#")
						.icon
							img(src="img/project/i-vd.png", alt="")
						.text Video
				li
					a(href="#")
						.icon
							img(src="img/project/360.png", alt="")
						.text Xem 360<sup>o</sup>
				li.active
					a(href="#")
						.icon
							img(src="img/project/i-td.png", alt="")
						.text Tiến độ
		nav.topnav.clearfix
			ul 
				li.active
					a(href="#") 2017
				li
					a(href="#") 2016
				li 
					a(href="#") 2015
		.project-gallery.clearfix
			.col.col1.clearfix
				.album
					figure
						.pic(style="background: url(img/project/t4.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t4.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
			.col.col1.clearfix
				.album
					figure
						.pic(style="background: url(img/project/t5.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t5.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
			.col.col1.clearfix
				.album
					figure
						.pic(style="background: url(img/project/t6.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t6.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
			.col.col1.clearfix
				.album
					figure
						.pic(style="background: url(img/project/t4.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t4.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
			.col.col1.clearfix
				.album
					figure
						.pic(style="background: url(img/project/t5.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t5.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
			.col.col1.clearfix
				.album
					figure
						.pic(style="background: url(img/project/t6.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t6.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
			.col.col1.clearfix
				.album
					figure
						.pic(style="background: url(img/project/t6.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t6.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
			.col.col1.clearfix
				.album
					figure
						.pic(style="background: url(img/project/t6.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t6.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
			.col.col1.clearfix
				.album
					figure
						.pic(style="background: url(img/project/t6.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t6.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi