+breadcrumb("Tiện ích vượt trội","img/breadcrumb/1.jpg")
.container
	section.project-page.clearfix
		nav.top-nav.clearfix
			ul 
				li
					a(href="#")
						.icon
							img(src="img/project/i1.png", alt="")
						.text Tiện ích nội khu
				li.active
					a(href="#")
						.icon
							img(src="img/project/i2.png", alt="")
						.text Tiện ích ngoại khu
		.project-utilities.clearfix
			.intro.text-xs-center Không chỉ sở hữu hệ thống tiện ích nội khu hiện đại, khu căn hộ Grand Nest City còn được tích hợp những tiện ích ngoại khu đa dạng.
			.utiliti-place.clearfix
				.row.flex.flex-wrap
					.col-xs-12.col-md-6.col-lg-3
						.placecol
							.title Vùng
							.placelist.clearfix
								.place 
									.name Trung tâm Quận 1
									.distance 9,4 km
								.place 
									.name Trung tâm triễn lãm SECC
									.distance 3,4 km
								.place 
									.name Saigon Peninsuila
									.distance 1,3 km
					.col-xs-12.col-md-6.col-lg-3
						.placecol
							.title Giáo dục
							.placelist.clearfix
								.place 
									.name Đại học Tôn Đức Thắng
									.distance 9,4 km
								.place 
									.name Đại học RMIT
									.distance 3,4 km
								.place 
									.name Trường quốc tế Canada
									.distance 1,3 km
								.place 
									.name Trường Đài Bắc
									.distance 1,3 km
								.place 
									.name Trường Nhật Bản
									.distance 1,3 km
								.place 
									.name Trường Hàn Quốc
									.distance 1,3 km
								.place 
									.name Trường tiểu học Việt Pháp
									.distance 1,3 km
								.place 
									.name Trường Nam Sài Gòn
									.distance 1,3 km
					.col-xs-12.col-md-6.col-lg-3
						.placecol
							.title Y tế
							.placelist.clearfix
								.place 
									.name Trung tâm Quận 1
									.distance 9,4 km
								.place 
									.name Trung tâm triễn lãm SECC
									.distance 3,4 km
								.place 
									.name Saigon Peninsuila
									.distance 1,3 km
					.col-xs-12.col-md-6.col-lg-3
						.placecol
							.title Trung tâm thương mại
							.placelist.clearfix
								.place 
									.name Trung tâm Quận 1
									.distance 9,4 km
								.place 
									.name Trung tâm triễn lãm SECC
									.distance 3,4 km
								.place 
									.name Saigon Peninsuila
									.distance 1,3 km
		.project-gallery.clearfix
			.col.clearfix
				.album.big
					figure
						.pic(style="background: url(img/project/t1.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t1.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
				.album
					figure
						.pic(style="background: url(img/project/t2.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t2.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
				.album
					figure
						.pic(style="background: url(img/project/t3.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t3.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
			.col.col1.clearfix
				.album
					figure
						.pic(style="background: url(img/project/t4.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t4.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
				.album
					figure
						.pic(style="background: url(img/project/t5.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t5.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
				.album
					figure
						.pic(style="background: url(img/project/t6.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t6.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
			.col.clearfix
				.album
					figure
						.pic(style="background: url(img/project/t7.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t7.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
				.album
					figure
						.pic(style="background: url(img/project/t8.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t8.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi
				.album.big
					figure
						.pic(style="background: url(img/project/t9.jpg) center center no-repeat;background-size: cover")
						figcaption
							a.link(href="img/project/t9.jpg" data-fancybox="gal1") <i class="fa fa-search-plus" aria-hidden="true"></i> Hồ bơi