+breadcrumb("Thông tin dự án","img/breadcrumb/1.jpg")
.container
	section.project-page.clearfix
		nav.top-nav.info-nav.clearfix
			ul 
				li.active
					a(href="#")
						.icon
							img(src="img/project/i-mb.png", alt="")
						.text Mặt bằng
				li
					a(href="#")
						.icon
							img(src="img/project/i-nt.png", alt="")
						.text Nội thất
				li
					a(href="#")
						.icon
							img(src="img/project/i-vd.png", alt="")
						.text Video
				li
					a(href="#")
						.icon
							img(src="img/project/360.png", alt="")
						.text Xem 360<sup>o</sup>
				li
					a(href="#")
						.icon
							img(src="img/project/i-td.png", alt="")
						.text Tiến độ
		.project-building.clearfix
			.building-img
				img(src="img/project/building.jpg", alt="")
				.building.building1
					.img 
						img(src="img/project/building1.png", alt="")
					.label Hope Tower
				.building.building2
					.img 
						img(src="img/project/building2.png", alt="")
					.label Bliss Tower
				.building.building3
					.img 
						img(src="img/project/building3.png", alt="")
					.label Grace Tower
				.building.building4
					.img 
						img(src="img/project/building4.png", alt="")
					.label Fortuna Tower
				.building.building5
					.img 
						img(src="img/project/building5.png", alt="")
					.label Serena Tower House