+breadcrumb("Thông tin dự án","img/breadcrumb/1.jpg")
.container
	section.project-page.clearfix
		nav.top-nav.info-nav.clearfix
			ul 
				li.active
					a(href="#")
						//- .icon
							img(src="img/project/i-mb.png", alt="")
						.text Tầng bãi xe
				li
					a(href="#")
						//- .icon
							img(src="img/project/i-nt.png", alt="")
						.text Tầng tiện ích
				li
					a(href="#")
						//- .icon
							img(src="img/project/i-vd.png", alt="")
						.text Tầng 5-14
				li
					a(href="#")
						//- .icon
							img(src="img/project/360.png", alt="")
						.text Tầng 15-22
				li
					a(href="#")
						//- .icon
							img(src="img/project/i-td.png", alt="")
						.text Tầng 23
				li
					a(href="#")
						//- .icon
							img(src="img/project/i-td.png", alt="")
						.text Tầng thượng
		nav.topnav.clearfix
			ul 
				li.active
					a(href="#") Bliss Tower
				li 
					a(href="#") Grace Tower
				li 
					a(href="#") Fortuna Tower
				li 
					a(href="#") Hope Tower
				li 
					a(href="#") Serana Town House
		.projecttitle Mặt bằng tầng điển hình
		.project-land.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-lg-9
					.images-map
						img.imageMap(src="img/project/mb1.png", alt="alt", usemap='#imgmap')
						map#imgmap(name='imgmap')
							area(shape='poly', alt='', title='', coords='124,0,124,342,405,342,405,0', href='img/palmheight/floor3.png', target='')
							area(shape='poly', alt='', title='', coords='410,0,410,342,743,342,743,0', href='img/palmheight/floor4.png', target='')
							area(shape='poly', alt='', title='', coords='746,0,746,342,1037,342,1037,0', href='img/palmheight/floor5.png', target='')
							area(shape='poly', alt='', title='', coords='1040,0,1040,343,1438,343,1438,0', href='img/palmheight/floor6.png', target='')
							area(shape='poly', alt='', title='', coords='5,394,5,729,406,729,406,394', href='img/palmheight/floor7.png', target='')
							area(shape='poly', alt='', title='', coords='411,396,411,729,699,729,699,396', href='img/palmheight/floor8.png', target='')
							area(shape='poly', alt='', title='', coords='702,393,702,728,1040,728,1040,393', href='img/palmheight/floor8.png', target='')
							area(shape='poly', alt='', title='', coords='1044,393,1044,726,1386,726,1386,393', href='img/palmheight/floor8.png', target='')
				.col-xs-12.col-lg-3
					.apartment-list.clearfix
						a.item.i1(href="#")
							.number b1
							.caption
								.name Căn hộ 2 PN
								.des 65 m<sup>2</sup>
						a.item.i2(href="#")
							.number b2
							.caption
								.name Căn hộ 2 PN
								.des 65 m<sup>2</sup>
						a.item.i3(href="#")
							.number b3
							.caption
								.name Căn hộ 2 PN
								.des 65 m<sup>2</sup>
						a.item.i4(href="#")
							.number b4
							.caption
								.name Căn hộ 2 PN
								.des 65 m<sup>2</sup>
						a.item.i5(href="#")
							.number b5
							.caption
								.name Căn hộ 2 PN
								.des 65 m<sup>2</sup>
