+breadcrumb("Vị trí đắc địa","img/breadcrumb/1.jpg")
.container
	section.project-page.clearfix
		.location-img
			img(src="img/project/vitri.jpg", alt="")
		.location-info.clearfix
			.project-title 
				span VỊ TRÍ thuận lợi - Kết nối linh hoạt
			.row.flex.flex-wrap
				.col-xs-12.col-lg-6
					.content
						p Dự án căn hộ 
							strong Grand Nest 
							|tọa lạc ngay góc đường 
							strong Hoàng Quốc Việt – Đào Trí
							|, quận 7. Liền kề Phú Mỹ Hưng và là dự án hiếm hoi được bao bọc bởi khúc quanh lớn nhất của nhánh sông Sài Gòn, ngay cạnh siêu dự án 6 tỷ USD – 
							strong Saigon Peninsula (công viên Mũi Đèn Đỏ).
						p 
							strong Grand Nest 
							|sở hữu vị trí vô cùng thuận lợi khi nằm giữa các tuyến đường giao thông huyết mạch đóng vai trò đòn bảy phát triển kinh tế như: đường 
							strong Huỳnh Tấn Phát
							|, đường 
							strong Nguyễn Văn Linh
							|, đường 
							strong Nguyễn Hữu Thọ
							|, tuyến 
							strong Metro số 4
							|, cầu Thủ Thiêm 4 kết nối khu Đông và Khu Nam – 2 khu vực phát triển nhất tại TPHCM hiện nay, cầu Phước Khánh, Bình Khánh – kết nối TPHCM với Cần Giờ, cao tốc Bến Lức – Long Thành
				.col-xs-12.col-lg-6
					.nearby
						.nearby-group
							.duration 5' - 10'
							.place.content
								ul 
									li Trung tâm triễn lãm SECC, Saigon Peninsuila
									li Trường quốc tế Canada, Trường Đài Bắc, Trường Nhật Bản,
									li Trường Hàn Quốc, Trường tiểu học Việt Pháp, Trường Nam Sài Gòn
									li Trung tâm y tế Quận 7
									li Big C quận 7
						.nearby-group
							.duration 12' - 20'
							.place.content
								ul 
									li Đại Học Tôn Đức Thắng, Đại Học RMIT, Trường Đinh Thiện Lý
									li Bệnh viện FV, Bệnh viện tim Tâm Đức
									li SC Vivo City, Crescent Mall, Coop Mart
						.nearby-group
							.duration 25'
							.place.content
								ul 
									li Trung tâm Quận 1
