footer
	.container
		.subscribe.clearfix
			.module-title Đăng ký nhận bản tin
			.subscribefrm.clearfix
				input(type="text", placeholder="Nhập địa chỉ email của bạn")
				.subscribebutton Đăng ký
		nav.footernav.clearfix
			ul 
				li 
					a(href="#") Hỏi đáp
				li 
					a(href="#") Hổ trợ khách hàng
				li 
					a(href="#") Sitemap
		.footerbottom
			.copyright © 2017 Grand Nest. All rights reserved.
			nav.policy.clearfix
				ul 
					li 
						a(href="#") Chính sách bảo mật
					li 
						a(href="#") Điều khoản và điều kiện 
		.social
			a(href="#") <i class="fa fa-linkedin" aria-hidden="true"></i>
			a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
			a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>