header
	.container
		.btn-showmenu
			span
		.overlay
		.sitelogo
			a.logo1(href="index.html")
				img(src="img/logo.png", alt="")
			a.logo2(href="index.html")
				img(src="img/logo2.png", alt="")
		.colright.clearfix
			.menu.clearfix
				.menucontent.clearfix
					.menuwrap.clearfix
						ul.menulink.clearfix
							li.active
								a(href="#") Giới thiệu
							li 
								a(href="#") Vị trí
							li 
								a(href="#") Tiện ích
							li 
								a(href="#") Thông tin dự án
							li 
								a(href="#") Tin tức - Sự kiện
							li 
								a(href="#") Khuyến mãi
							li 
								a(href="#") Liên hệ
			.language.clearfix
				a(href="#") EN
			.login
				a(href="#") Đăng nhập

nav.fly-tool.clearfix
	ul 
		li
			.icon
				img(src="img/tool/i1.png", alt="")
			.hotline
				.label Hotline
				a(href="tel:0909 099 282") 0909 099 282
		li
			.icon
				img(src="img/tool/i2.png", alt="")
			.social
				.label Mạng xã hội
				a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
		li
			.icon
				img(src="img/tool/i3.png", alt="")
			.apartment
				.label Đăng ký tham quan
				a(href="#") Căn hộ mẫu